body{
    margin: 0;

    background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: Consolas, monospace;
}

.container{
    width: 80%;
    max-width: 700px;
    margin: 70px auto;
    text-align: center;
}

h1{
    font-size: 45px;
    margin: 10px;
}

h2{
    color: #888;
    margin: 5px;
}

h3{
    color: #00ff66;
    letter-spacing: 3px;
}

p{
    margin: 25px 0;
    line-height: 1.8;
    color: #ddd;
    font-size: 18px;
}

button{
    padding: 15px 45px;
    font-size: 18px;
    border: 2px solid #00ff66;
    background: transparent;
    color: #00ff66;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #00ff66;
    color: black;
}

.binary{
    margin-top:20px;
    margin-bottom:20px;

    font-size:26px;
    letter-spacing:3px;

    color:#00ff66;

    font-weight:bold;
}

input{

    width:300px;

    padding:12px;

    font-size:18px;

    text-align:center;

    background:#111;

    color:white;

    border:2px solid #00ff66;

    outline:none;

}

input::placeholder{

    color:#777;

}

#message{

    margin-top:20px;

    color:#ff4444;

    font-size:18px;

}

.code{

    margin-top:30px;

    margin-bottom:30px;

    color:#00ff66;

    font-size:30px;

    letter-spacing:3px;

    font-weight:bold;

}

input{

    width:300px;

    padding:12px;

    background:#111;

    color:white;

    border:2px solid #00ff66;

    font-size:18px;

    text-align:center;

    outline:none;

}

input::placeholder{

    color:#666;

}

#message{

    margin-top:20px;

    color:#ff4444;

    font-size:18px;

}

.help{

    position:fixed;

    right:5px;

    bottom:10px;

    writing-mode:vertical-rl;

    text-orientation:mixed;

    font-size:9px;

    color:#101010;

    text-decoration:none;

    letter-spacing:2px;

    transition:.3s;

    user-select:none;

}

.help:hover{

    color:#555;

}
